<!doctype html>
<html>
  <head>
    <title>{% block title %}User Management{% endblock %}</title>
    <meta charset="UTF-8" />
    <style>
      body {
        font-family: Arial;
        max-width: 500px;
        margin: 50px auto;
      }
      input,
      button {
        width: 100%;
        padding: 10px;
        margin: 5px 0;
      }
      button {
        background: #007bff;
        color: white;
        border: none;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <nav>
      <a href="/auth/register">회원가입</a> |
      <a href="/auth/login">로그인</a>
    </nav>
    {% block content %}{% endblock %}
    <script src="/static/js/use-storage.js"></script>
  </body>
</html>
