name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push application server
        run: |
          IMAGE_TAG=${{ vars.DOCKERHUB_USERNAME }}/provisioner:$(date +%s)
          docker build . --file Dockerfile --tag $IMAGE_TAG
          docker push $IMAGE_TAG

      - name: Build and push authentication server
        run: |
          IMAGE_TAG=${{ vars.DOCKERHUB_USERNAME }}/provisioner-auth:$(date +%s)          
          docker build . --file Dockerfile --tag $IMAGE_TAG
          docker push $IMAGE_TAG
