name: Docker Image CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push provisioner
        run: |
          IMAGE=${{ vars.DOCKERHUB_USERNAME }}/provisioner:latest
          docker build . --file Dockerfile --tag $IMAGE
          docker push $IMAGE

      - name: Build and push provisioner-auth
        run: |
          IMAGE=${{ vars.DOCKERHUB_USERNAME }}/provisioner-auth:latest
          docker build . --file Dockerfile.auth --tag $IMAGE
          docker push $IMAGE
